:root {

    /* ----- Typography ----- */

    --font-family-header: 'DM Sans', sans-serif;
    --font-family-text: 'Inter', sans-serif;
    --letter-spacing-header: -0.02em;

    /* --- Headers --- */
    --text-h1: 700 4rem/3.75rem var(--font-family-header);
    --text-h2: 700 2.5rem/2.5rem var(--font-family-header);
    --text-h3: 700 2rem var(--font-family-header);
    --text-h4: 700 1.25rem var(--font-family-header);

    /* --- General texts --- */
    --text-subtitle: 300 1.5rem var(--font-family-text);
    --text-body-bold: 600 1.125rem/140% var(--font-family-text);
    --text-body: 300 0.875rem/140% var(--font-family-text);
    --text-pre-title: 400 0.625rem var(--font-family-text);
    --text-link-text: 600 0.875rem var(--font-family-text);
    --text-button-text: 800 1rem var(--font-family-text);
    --text-smaller-text: 300 0.875rem/140% var(--font-family-text);

    /* ----- Colors ----- */

    /* Grey Variants */
    --grey-700: #1b1b1b;
    --grey-600: #393939;
    --grey-500: #5a5a5a;
    --grey-400: #7e7e7d;
    --grey-300: #a3a3a2;
    --grey-200: #cacac9;
    --grey-100: #f2f2f1;

    /* Yellow Variants */
    --yellow-700: #241a00;
    --yellow-600: #483700;
    --yellow-500: #705800;
    --yellow-400: #9b7900;
    --yellow-300: #c89d00;
    --yellow-200: #f8c200;
    --yellow-100: #fff0d9;

    /* Pink Variants */
    --pink-700: #48001d;
    --pink-600: #81013b;
    --pink-500: #bf025a;
    --pink-400: #fe177b;
    --pink-300: #ff83a4;
    --pink-200: #ffc1cf;
    --pink-100: #ffecf0;

    /* Olive Green Variants */
    --olive-700: #111a04;
    --olive-600: #2a3a0e;
    --olive-500: #455e1c;
    --olive-400: #62832a;
    --olive-300: #82ab3a;
    --olive-200: #a2d54a;
    --olive-100: #ccfd87;

    /* Orange Variants */
    --orange-700: #2f1401;
    --orange-600: #5b2d05;
    --orange-500: #8c480d;
    --orange-400: #c06516;
    --orange-300: #f78420;
    --orange-200: #fdbb9f;
    --orange-100: #feede7;

}

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    font: var(--text-body);
}

input, button, textarea, select {
    font: inherit;
}

h1, h2, h3, h4 {
    letter-spacing: var(--letter-spacing-header);
}

h1 { font: var(--text-h1); }
h2 { font: var(--text-h2); }
h3 { font: var(--text-h3); }
h4 { font: var(--text-h4); }
